@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind scrollbar;

.margin-view-overlays {
    background: #1d2939 !important;
}

.premium-unlock-con {
    background-image: url('../assets/backgrounds/premiun-unlock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}