<style>
  .page-social {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  .page-content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    position: relative;
  }
  .page-social-image {
    width: 500px;
    height: 500px;
  }
  .social-link-cover{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-links {
    color: #00caec !important;
    font-family: 'Montserrat' !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-weight: 800 !important;
    line-height: 251.724% !important;
    text-decoration: underline !important;
    font-weight: bold !important;
    background-color: white !important;
    border-radius: 28px !important;
    padding: 10px 25px 10px 50px !important;
    margin: 0 !important;
  }
  .social-icon-cover{
    transform: translateX(55px);
  }
  .page-social-tele-box{
    position: absolute;
    top: -50px;
    right: -6px;
    width: 100%;
  }
  .page-social-web-box{
    position: absolute;
    left: 6px;
    bottom: 1px;
    width: fit-content;

  }
  .page-social-twitter-box{
    position: absolute;
    bottom: -60px;
    right: 80px;
    width: fit-content;
  }
</style>
<div class="page-social">
  <ptitle>
    <h1>Social Media</h1>
  </ptitle>
  <div class="page-content">
    <div class="page-social-tele-box">
      <div class="social-link-cover">
        <div class="social-icon-cover">
          <img
            alt="tele-icon"
            src="../assets/social-tele.svg"
            width="100px"
            height="100px"
          />
        </div>
        <a
          href="https://t.me/AegisAiSecurity"
          target="_blank"
          class="social-links textFont"
          >@AegisAiSecurity</a
        >
      </div>
    </div>
    <div class="page-social-twitter-box">
      <div class="social-link-cover">
        <div class="social-icon-cover">
          <img
            alt="tele-icon"
            src="../assets/social-twitter.svg"
            width="100px"
            height="100px"
          />
        </div>
        <a
          href="https://twitter.com/aegisaisecurity"
          target="_blank"
          class="social-links textFont"
          >aegisaisecurity</a
        >
      </div>
    </div>
    <div class="page-social-web-box">
      <div class="social-link-cover">
        <div class="social-icon-cover">
          <img
            alt="tele-icon"
            src="../assets/social-web.svg"
            width="100px"
            height="100px"
          />
        </div>
        <a
          href="https://aiaegis.org/"
          target="_blank"
          class="social-links textFont"
          >aiaegis.org</a
        >
      </div>
    </div>
    <img class="page-social-image" src="../assets/page-social.png" />
  </div>
</div>
