<style>
    td,th {
        padding: 5px;
        border: 1px black;
    }

</style>
<h1 style="font-weight: bold; color: skyblue; font-size: 2em;">Recommendations</h1>

<% findings.forEach(function(finding) { %>
    <h2 style="font-weight: bold; color: orangered; font-size: 1.5em;"><%= finding.title %></h2>
    <p style="color: green; font-size: 1.2em;"><%= finding.mitigation %></p>
    <% }); %>