<style>
    .methodology {
        font-size: 14px;
        line-height: 40px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-right: 30px;
    }

    .methodology ol {
        margin-top: 0;
    }
</style>

<div class="methodology">
    <ol start="2">
        <li>
            Testing and automated analysis that includes the following:
            <ol style="list-style-type: initial">
                <li>
                    Test coverage analysis determines whether test cases cover code and
                    how much code is executed when those test cases are Executed.
                </li>
                <li>
                    Symbolic execution, which is analysing a program to determine what
                    inputs cause each part of a program to execute.
                </li>
            </ol>
        </li>
        <li>
            Review best practices, i.e., review smart contracts to improve efficiency,
            effectiveness, clarity, maintainability, security, and control based on
            best practices, recommendations, and research from industry and academia.
        </li>
        <li>
            Concrete, itemized and actionable recommendations to help you secure your
            smart contracts. 
        </li>
    </ol>
</div>