<style>
    .audittechnique {
        margin-right: 30px;
    }

    .auditing-strategy {
        font-size: 14px;
        line-height: 40px;
        font-weight: 600;
        /* margin-top: 70px; */
        letter-spacing: 2px;
    }

    .methodology {
        font-size: 14px;
        line-height: 40px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .methodology ol {
        margin-top: 0;
    }
</style>

<div class="audittechnique">
    <div class="auditing-strategy">
        <div style="font-size: 18px; line-height: 40px; font-weight: 900; letter-spacing: 1px;">
            <ptitle>

                Auditing Strategy and Techniques Applied
            </ptitle>
        </div>
        Throughout the review process, care was taken to check the repository for
        security-related issues, code quality, and compliance with specifications
        and best practices. To this end, our team of experienced pen-testers and
        smart contract developers reviewed the code line by line and documented any
        issues discovered.
        <br />
        We check every file manually. We use automated tools only so that they help
        us achieve faster and better results.
        <br />
        <br />
        <br />
    </div>
    <div class="methodology">
        <div style="font-size: 18px; font-weight: 900; letter-spacing: 1px;">
            Methodology
        </div>
        <div>
            The audit adopted a systematic and risk-based approach to thoroughly evaluate the smart contract [Smart
            Contract Name]. The assessment focused on key areas including security, code quality, compliance, gas
            efficiency, and functionality.
        </div>
        <ul>
            <li>
                Security Assessment:
            </li>
            <div>
                Our team employed both manual and automated techniques to identify and assess security vulnerabilities.
                Manual code reviews, static analysis tools, and dynamic testing were utilized to ensure a comprehensive
                evaluation of potential threats.
            </div>
        </ul>
    </div>
</div>