<style>
    .audittechnique {
        margin-right: 30px;
    } 
    
    .auditing-strategy {
        font-size: 14px;
        line-height: 40px;
        font-weight: 600;
        /* margin-top: 70px; */
        letter-spacing: 2px;
    }

    .methodology {
        font-size: 14px;
        line-height: 40px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .methodology ol {
        margin-top: 0;
    }
</style>

<div class="audittechnique">
    <div class="auditing-strategy">
        <div style="font-size: 18px; line-height: 40px; font-weight: 900; letter-spacing: 1px;">
            <ptitle>

            Auditing Strategy and Techniques Applied:
            </ptitle>
        </div>
            Throughout the review process, care was taken to check the repository for
            security-related issues, code quality, and compliance with specifications
            and best practices. To this end, our team of experienced pen-testers and
            smart contract developers reviewed the code line by line and documented any
            issues discovered.
            <br />
            We check every file manually. We use automated tools only so that they help
            us achieve faster and better results.
            <br />
            <br />
            <br />
    </div>
    <div class="methodology">
        <div style="font-size: 18px; font-weight: 900; letter-spacing: 1px;">
            Methodology
        </div>
        <div>The auditing process follows a routine series of steps:</div>
        <ol>
            <li>
                Code review that includes the following:
                <ol style="list-style-type: initial">
                    <li>
                        Reviewing the specifications, sources, and instructions provided to
                        SolidProof to ensure we understand the size, scope, and functionality
                        of the smart contract.
                    </li>
                    <li>
                        Manual review of the code, i.e., reading the source code line by line
                        to identify potential vulnerabilities.
                    </li>
                    <li>
                        Comparison to the specification, i.e Verifying that the code does what
                        is described in the specifications, sources, and instructions provided
                        to SolidProof.
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>