<style>
  .audit-strategy-page {
    margin-right: 30px;
  }
  .audit-strategy-page li {
    margin-bottom: 16px;
  }
</style>

<div class="audit-strategy-page">
  <ptitle>
    <h3>Auditing Strategy and Techniques</h3>
  </ptitle>
  <p>
    In our review process, we leverage advanced, finetuned Large Language Models
    (LLMs) alongside sophisticated LLM agent mechanisms. This approach ensures
    comprehensive examination of the smart contract repository, targeting
    security vulnerabilities, code integrity, and adherence to the latest
    standards and best practices.
  </p>
  <p>
    Our review blends the precision of machine learning models with human
    oversight. The finetuned LLMs efficiently parse and analyze every file,
    providing in-depth insights and faster results, which are then meticulously
    validated by our team of experts for accuracy and relevance.
  </p>
  <h3>Methodology</h3>
  <p>
    The audit of the smart contract <%= info.name%> was conducted using a
    systematic and risk-based approach. Emphasis was placed on essential aspects
    such as security, code quality, compliance, gas efficiency, and overall
    functionality.
  </p>
  <ul>
    <li>
      <strong>Security Assessment</strong>
      <p>
        Our approach integrates advanced AI-driven techniques, primarily
        leveraging Large Language Models (LLMs) and GPT agents. This blend of AI
        tools provides an in-depth analysis, identifying and evaluating
        potential security vulnerabilities. Alongside this, we conduct targeted
        manual reviews to validate and contextualize the AI-generated insights,
        ensuring comprehensive and accurate security assessments.
      </p>
    </li>
  </ul>
</div>
