<!-- FILEPATH: /c:/Users/aslam/Desktop/DEnz/aegis/server/modules/report/templates/10_ownership.ejs -->
<style>
  .ownership-privileges_head_con h1 {
    border: 2px solid white;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 24px;
    font-weight: 800;
    width: fit-content;
  }
  .ownership-privileges_head_con {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .ownership-privileges_head_con p {
    line-height: 40px;
    letter-spacing: 2px;
  }

  .miniting-priveleges-con {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .miniting-priveleges-con h2 {
    font-size: 26px;
    font-weight: 900;
  }

  .priveleges-table-head {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 0 10px;
    background-color: black;
    border-radius: 6px;
    overflow: hidden;
    background: #303030;
  }

  .priveleges-table-head h3 {
    font-size: 13px;
    font-weight: 700;
  }

  .priveleges-table-head h3:last-child {
    font-weight: 300;
    color: #58ff5e;
  }

  .priveleges-table-value {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    background: #fff;
    position: relative;
    overflow: hidden;
  }

  .priveleges-table-value h3 {
    color: black;
    padding: 10px 30px;
    min-height: 100px;
    height: 100%;
    margin: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .priveleges-table-value h3:last-child {
    border-left: 1px solid black;
    font-weight: 400;
    line-height: 30px;
    font-weight: 400;
    width: 100%;
    min-width: 500px;
  }

  .image-con {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<div class="ownership-privileges_head_con">
  <ptitle>

  <div class="title-button">Ownership Privileges</div>
  </ptitle>
  <p>
    These functions can be dangerous. Please note that abuse can lead to financial loss.
    We have a guide where you can learn more about these Functions.
  </p>
  <div class="miniting-priveleges-con first_con">
    <h2>Minting Privileges</h2>
    <p>
      Minting is the process of creating new tokens. This is usually done by the contract
      owner, and the newly minted tokens are added to the owner's balance. Minting is
      usually done to increase the total supply of a cryptocurrency or token.
    </p>
    <div class="priveleges-table-con">
      <div class="priveleges-table-head">
        <h3>
          <%= security.is_mintable ? "Contract owner can mint new tokens" : "Contract owner cannot mint new tokens" %>
        </h3>
        <h3>
          <%= security.is_mintable ? "❌ The owner can mint new tokens" : "✅ The owner cannot mint new tokens" %>
        </h3>
      </div>
      <div class="priveleges-table-value">
        <h3 class="textFont">Description</h3>
        <h3 class="textFont" style="border-left: 1px solid black; font-weight: 400;
    line-height: 30px;">
          <%= security.is_mintable ? "The owner can mint new tokens if they want" : "The owner cannot mint new tokens"
            %>
        </h3>
        <div style="position: absolute; top: -27px; left: 0; width: 100%; height: 100%">
          <svg xmlns="http://www.w3.org/2000/svg" width="124" height="144" viewBox="0 0 94 124" fill="none">
            <path
              d="M-24.1288 23.6976L-24.1274 23.6993L13.08 70.9202L13.0804 70.9208C14.1731 72.3037 16.2742 72.3036 17.367 70.9208L17.3674 70.9202L54.5707 23.7028C54.5712 23.7021 54.5717 23.7015 54.5722 23.7009C54.9064 23.2855 55.392 23.0407 55.9174 23.0319L90.9822 22.4899C90.9823 22.4899 90.9824 22.4899 90.9824 22.4899C92.4093 22.4724 93.2494 24.0722 92.4355 25.2339L16.6483 133.026C15.9533 134.013 14.504 134.013 13.8108 133.026L13.8107 133.026L-61.9778 25.2341C-62.7923 24.07 -61.9476 22.4723 -60.5362 22.4899L-25.4601 23.0319C-24.9415 23.0407 -24.4488 23.2878 -24.1288 23.6976Z"
              stroke="#C1C1C1" />
            <path
              d="M41.8169 22.486L41.8169 22.4861L16.9433 55.3106L16.9431 55.3108C16.0816 56.449 14.3708 56.4494 13.5077 55.3106L-11.3657 22.4863C-12.0907 21.5285 -11.8955 20.1615 -10.9306 19.4454L13.9412 0.997758C14.7039 0.432992 15.7472 0.432989 16.5099 0.997758L41.383 19.4454C42.3478 20.1616 42.5429 21.5283 41.8169 22.486Z"
              stroke="#C1C1C1" />
          </svg>
        </div>
      </div>
    </div>
  </div>

</div>