<!-- FILEPATH: /c:/Users/aslam/Desktop/DEnz/aegis/server/modules/report/templates/10_ownership.ejs -->
<div class="overall-security-page">
  <div>
    <h2>Burning Tokens</h2>
    <p>
      Burning tokens is the process of permanently destroying a certain number
      of tokens, reducing the total supply of a cryptocurrency or token. This is
      usually done to increase the value of the remaining tokens, as the reduced
      supply can create scarcity and potentially drive up demand.
    </p>

    <table
      class="security-table <%= security.is_blacklisted != 1 ? 'success' : 'error' %>"
    >
      <tr>
        <td>Can burn tokens?</td>
        <td>
          <%= rugpull.is_blacklisted != 1 ? "❌ The owner can burn tokens" : "✅ The owner cannot burn tokens" %>
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td>
          <%= rugpull.is_blacklisted != 1 ? "The owner is able to burn tokens without any allowance": "The owner is not able to burn tokens without any allowance"
          %>
        </td>
      </tr>
    </table>
  </div>
  <div class="image">
    <img src="../assets/burntoken.png" alt="blacklist-address" />
  </div>
</div>
