<!-- FILEPATH: /c:/Users/aslam/Desktop/DEnz/aegis/server/modules/report/templates/10_ownership.ejs -->
<div class="overall-security-page">
  <div>
    <h2>Modify Balance</h2>
    <p>
If the owner can modify the token holders balance, it can be used to steal tokens from the token holders. The owner can also burn tokens without any allowance.
    </p>

    <table
      class="security-table <%= security.is_blacklisted != 1 ? 'success' : 'error' %>"
    >
      <tr>
        <td>Can modify balances?</td>
        <td>
          <%= Number(security.owner_change_balance) > 0? "❌ The owner can modify token balance" : "✅ The owner cannot modify token balance" %>
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td>
          <%= Number(rugpull.is_blacklisted) >0 ? "The owner is able to modify token balance without any allowance": "The owner is not able to  modify token balance  without any allowance"
          %>
        </td>
      </tr>
    </table>
  </div>
  <div class="image">
    <img src="../assets/burntoken.png" alt="blacklist-address" />
  </div>
</div>
