<style>
  ul {
    list-style-type: none;
  }
  a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  span {
    font-size: 12px;
    color: #fff;
    margin-right: 0%;
  }
  ul li ul {
    margin-left: 20px;
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  span {
    margin-left: 10px;
  }
</style>
<h1>Table of Contents</h1>
<ul>
  <!-- BEGIN: Loop through the contents -->
  <li><a>Introduction</a><span>1</span></li>
  <li><a>Disclaimer</a><span>2</span></li>
  <li>
    <a>Project Overview</a><span>3</span>
    <ul>
      <li><a>Summary</a><span>3.1</span></li>
      <li><a>Social Media</a><span>3.2</span></li>
      <li><a>Audit Summary</a><span>3.3</span></li>
      <li><a>File Overview</a><span>3.4</span></li>
      <li><a>Imported Packages</a><span>3.5</span></li>
    </ul>
  </li>
  <li>
    <a>Audit information</a><span>4</span>
    <ul>
      <li><a>Vulnerability and Risk level</a><span>4.1</span></li>
      <li><a>Auditing Strategy and Techniques Apllied</a><span>4.2</span></li>
      <li><a>Methodoloigy</a><span>4.3</span></li>
    </ul>
  </li>
  <li>
    <a>Overall Security</a><span>4</span>
    <ul>
      <li><a>Upgradability</a><span>4.1</span></li>
      <li><a>Ownership</a><span>4.2</span></li>
    </ul>
  </li>
  <li>
    <a>Ownership Privilages</a><span>4</span>
    <ul>
      <li><a>Minting Tokens</a><span>4.1</span></li>
      <li><a>Burning Tokens</a><span>4.2</span></li>
      <li><a>Blacklist addresses</a><span>4.2</span></li>
      <li><a>Fees and Tax</a><span>4.2</span></li>
      <li><a>Lock User funds</a><span>4.2</span></li>
      <li><a>Components</a><span>4.2</span></li>
      <li><a>Exposed Functions</a><span>4.2</span></li>
      <li><a>Capabilities</a><span>4.2</span></li>
      <li><a>Inheritance Graph</a><span>4.2</span></li>
    </ul>
  </li>
  <li><a>Centralization Privilages</a><span>4.2</span></li>
  <li><a>Audit Results</a><span>4.2</span></li>
  <!-- END: Loop through the contents -->
</ul>
