<style>
  .centralization-table {
    display: flex;
    border-radius: 20px 0 20px 0;
    overflow: hidden;
    width: fit-content;
    margin-top: 0px;
  }

  .functions-table {
    width: 100%;
    border-collapse: collapse;
  }

  .functions-table tr:nth-child(1) {
    background-color: red;
    border-top-left-radius: 20px;
  }

  .functions-table tr:first-child th:first-child {
    border-top-left-radius: 20px;
    border: none;
    margin: 0;
    padding: 0;
    height: 62px;
    background-color: #2f4076;
    border-right: 1px solid #647fd4;
    border-bottom: 1px solid #647fd4;
  }

  .functions-table tr:first-child th:last-child {
    border-top-right-radius: 20px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: #2f4076;
  }

  .functions-table th,
  .functions-table td {
    padding: 8px;
  }

  .functions-table tr>td:nth-child(1) {
    color: white;
    background-color: #2f4076;
    border-right: 1px solid #647fd4;
    border-bottom: 1px solid #647fd4;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    border-left: 0px;
    text-align: center;
    padding: 14px;
  }

  .functions-table tr>td:nth-child(2) {
    background: white;
    color: black;
    text-align: center;
    border-bottom: 1px solid black;
  }

  .functions-table tr:last-child>td:nth-child(1) {
    border-bottom-left-radius: 20px;
    border-bottom: none;
  }

  .functions-table tr:last-child>td:nth-child(2) {
    border-bottom-right-radius: 20px;
  }

  .functions-table .contract-name {
    width: 30%;
  }

  .functions-table .contract-functions {
    width: 70%;
  }
</style>
<div style="position: absolute; bottom: 0px; left: -50px; z-index: 99">
  <svg width="895" height="67" viewBox="0 0 595 67" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.07">
      <mask id="path-1-outside-1_41_2860" maskUnits="userSpaceOnUse" x="-93" y="-1" width="725" height="130"
        fill="black">
        <rect fill="white" x="-93" y="-1" width="725" height="130" />
        <path
          d="M44.6 126L31.325 99.627L-42.838 99.627L-56.113 126H-91.159L-27.262 2.09999L15.749 2.09999L79.823 126H44.6ZM-30.979 75.909H19.466L-5.66799 25.641L-30.979 75.909ZM227.268 27.411L128.148 27.411V52.545L227.268 52.545V75.555L128.148 75.555V100.689L227.268 100.689V126L96.2882 126L96.2882 2.09999L227.268 2.09999V27.411ZM321.575 80.334V59.625L400.163 59.625V126H376.622L375.206 106.53C363.524 119.274 344.939 127.77 318.566 127.77C272.9 127.77 244.934 105.114 244.934 64.05C244.934 22.986 272.9 0.329993 323.876 0.329993C373.436 0.329993 398.216 19.623 400.163 50.421L367.772 50.421C366.002 41.04 357.506 27.057 323.876 27.057C282.458 27.057 276.794 49.89 276.794 64.758C276.794 79.803 282.635 103.167 323.876 103.167C354.674 103.167 367.064 89.715 367.772 80.334H321.575ZM453.351 2.09999V126H421.491V2.09999H453.351ZM472.648 83.343L504.508 83.343C504.508 96.441 515.128 102.459 555.484 102.459C588.937 102.459 599.026 98.742 599.026 89.007C599.026 78.741 591.946 76.971 551.767 75.024C497.782 72.546 476.365 64.05 476.365 36.261C476.365 9.003 504.154 0.329993 550.528 0.329993C597.256 0.329993 625.576 12.012 625.576 42.633H593.716C593.716 29.004 580.087 25.641 546.988 25.641C515.659 25.641 508.225 28.65 508.225 37.854C508.225 47.412 515.659 49.182 551.767 51.306C600.619 53.961 630.886 56.616 630.886 87.945C630.886 121.044 599.557 127.77 553.714 127.77C502.915 127.77 472.648 119.097 472.648 83.343Z" />
      </mask>
      <path
        d="M44.6 126L43.7068 126.45L43.9838 127H44.6V126ZM31.325 99.627L32.2182 99.1774L31.9412 98.627H31.325V99.627ZM-42.838 99.627V98.627H-43.4542L-43.7312 99.1774L-42.838 99.627ZM-56.113 126V127H-55.4968L-55.2198 126.45L-56.113 126ZM-91.159 126L-92.0478 125.542L-92.7999 127H-91.159V126ZM-27.262 2.09999V1.09999H-27.8714L-28.1508 1.64164L-27.262 2.09999ZM15.749 2.09999L16.6373 1.64064L16.3577 1.09999H15.749V2.09999ZM79.823 126V127H81.466L80.7113 125.541L79.823 126ZM-30.979 75.909L-31.8722 75.4593L-32.6021 76.909H-30.979V75.909ZM19.466 75.909V76.909H21.084L20.3604 75.4618L19.466 75.909ZM-5.66799 25.641L-4.77357 25.1938L-5.66486 23.4112L-6.56116 25.1913L-5.66799 25.641ZM45.4932 125.55L32.2182 99.1774L30.4318 100.077L43.7068 126.45L45.4932 125.55ZM31.325 98.627L-42.838 98.627V100.627L31.325 100.627V98.627ZM-43.7312 99.1774L-57.0062 125.55L-55.2198 126.45L-41.9448 100.077L-43.7312 99.1774ZM-56.113 125H-91.159V127H-56.113V125ZM-90.2702 126.458L-26.3732 2.55834L-28.1508 1.64164L-92.0478 125.542L-90.2702 126.458ZM-27.262 3.09999L15.749 3.09999V1.09999L-27.262 1.09999V3.09999ZM14.8607 2.55935L78.9348 126.459L80.7113 125.541L16.6373 1.64064L14.8607 2.55935ZM79.823 125H44.6V127H79.823V125ZM-30.979 76.909H19.466V74.909H-30.979V76.909ZM20.3604 75.4618L-4.77357 25.1938L-6.56242 26.0882L18.5716 76.3562L20.3604 75.4618ZM-6.56116 25.1913L-31.8722 75.4593L-30.0858 76.3587L-4.77483 26.0907L-6.56116 25.1913ZM227.268 27.411V28.411H228.268V27.411H227.268ZM128.148 27.411V26.411H127.148V27.411H128.148ZM128.148 52.545H127.148V53.545H128.148V52.545ZM227.268 52.545H228.268V51.545H227.268V52.545ZM227.268 75.555V76.555H228.268V75.555H227.268ZM128.148 75.555V74.555H127.148V75.555H128.148ZM128.148 100.689H127.148V101.689H128.148V100.689ZM227.268 100.689H228.268V99.689H227.268V100.689ZM227.268 126V127H228.268V126H227.268ZM96.2882 126H95.2882V127H96.2882V126ZM96.2882 2.09999V1.09999H95.2882V2.09999H96.2882ZM227.268 2.09999H228.268V1.09999H227.268V2.09999ZM227.268 26.411L128.148 26.411V28.411L227.268 28.411V26.411ZM127.148 27.411V52.545H129.148V27.411H127.148ZM128.148 53.545L227.268 53.545V51.545L128.148 51.545V53.545ZM226.268 52.545V75.555H228.268V52.545H226.268ZM227.268 74.555L128.148 74.555V76.555L227.268 76.555V74.555ZM127.148 75.555V100.689H129.148V75.555H127.148ZM128.148 101.689L227.268 101.689V99.689L128.148 99.689V101.689ZM226.268 100.689V126H228.268V100.689H226.268ZM227.268 125L96.2882 125V127L227.268 127V125ZM97.2882 126L97.2882 2.09999H95.2882L95.2882 126H97.2882ZM96.2882 3.09999L227.268 3.09999V1.09999L96.2882 1.09999V3.09999ZM226.268 2.09999V27.411H228.268V2.09999H226.268ZM321.575 80.334H320.575V81.334H321.575V80.334ZM321.575 59.625V58.625H320.575V59.625H321.575ZM400.163 59.625H401.163V58.625H400.163V59.625ZM400.163 126V127H401.163V126H400.163ZM376.622 126L375.624 126.073L375.692 127H376.622V126ZM375.206 106.53L376.203 106.457L376.035 104.145L374.468 105.854L375.206 106.53ZM400.163 50.421V51.421H401.228L401.161 50.3579L400.163 50.421ZM367.772 50.421L366.789 50.6064L366.943 51.421H367.772V50.421ZM367.772 80.334L368.769 80.4093L368.85 79.334H367.772V80.334ZM322.575 80.334V59.625H320.575V80.334H322.575ZM321.575 60.625L400.163 60.625V58.625L321.575 58.625V60.625ZM399.163 59.625V126H401.163V59.625H399.163ZM400.163 125H376.622V127H400.163V125ZM377.619 125.927L376.203 106.457L374.208 106.603L375.624 126.073L377.619 125.927ZM374.468 105.854C363.012 118.353 344.716 126.77 318.566 126.77V128.77C345.161 128.77 364.036 120.195 375.943 107.206L374.468 105.854ZM318.566 126.77C295.885 126.77 277.736 121.143 265.273 110.547C252.832 99.9709 245.934 84.3397 245.934 64.05H243.934C243.934 84.8243 251.018 101.053 263.977 112.071C276.913 123.069 295.58 128.77 318.566 128.77V126.77ZM245.934 64.05C245.934 43.763 252.83 28.1428 265.917 17.5688C279.038 6.96762 298.517 1.32999 323.876 1.32999V-0.670006C298.258 -0.670006 278.266 5.02037 264.66 16.0131C251.021 27.0332 243.934 43.273 243.934 64.05H245.934ZM323.876 1.32999C348.545 1.32999 366.904 6.1348 379.308 14.6507C391.671 23.1382 398.209 35.3707 399.165 50.4841L401.161 50.3579C400.169 34.6733 393.344 21.8603 380.44 13.0018C367.578 4.1717 348.766 -0.670006 323.876 -0.670006V1.32999ZM400.163 49.421L367.772 49.421V51.421L400.163 51.421V49.421ZM368.754 50.2356C367.83 45.3362 365.145 39.2496 358.352 34.4068C351.578 29.5782 340.818 26.057 323.876 26.057V28.057C340.563 28.057 350.866 31.5273 357.191 36.0354C363.495 40.5294 365.943 46.1248 366.789 50.6064L368.754 50.2356ZM323.876 26.057C302.987 26.057 290.894 31.8193 284.049 39.6751C277.225 47.5062 275.794 57.2203 275.794 64.758H277.794C277.794 57.4277 279.194 48.2913 285.557 40.9889C291.898 33.7112 303.346 28.057 323.876 28.057V26.057ZM275.794 64.758C275.794 72.3861 277.27 82.2717 284.11 90.255C290.974 98.2668 303.067 104.167 323.876 104.167V102.167C303.443 102.167 291.995 96.3852 285.629 88.9538C279.237 81.4938 277.794 72.1749 277.794 64.758H275.794ZM323.876 104.167C354.85 104.167 368 90.5979 368.769 80.4093L366.774 80.2587C366.127 88.8321 354.497 102.167 323.876 102.167V104.167ZM367.772 79.334H321.575V81.334H367.772V79.334ZM453.351 2.09999H454.351V1.09999H453.351V2.09999ZM453.351 126V127H454.351V126H453.351ZM421.491 126H420.491V127H421.491V126ZM421.491 2.09999V1.09999H420.491V2.09999H421.491ZM452.351 2.09999V126H454.351V2.09999H452.351ZM453.351 125H421.491V127H453.351V125ZM422.491 126V2.09999H420.491V126H422.491ZM421.491 3.09999H453.351V1.09999H421.491V3.09999ZM472.648 83.343V82.343H471.648V83.343H472.648ZM504.508 83.343H505.508V82.343H504.508V83.343ZM551.767 75.024L551.816 74.0252L551.813 74.025L551.767 75.024ZM625.576 42.633V43.633H626.576V42.633H625.576ZM593.716 42.633H592.716V43.633H593.716V42.633ZM551.767 51.306L551.709 52.3043L551.713 52.3045L551.767 51.306ZM472.648 84.343L504.508 84.343V82.343L472.648 82.343V84.343ZM503.508 83.343C503.508 86.7538 504.201 89.7985 505.97 92.4156C507.737 95.0302 510.509 97.1164 514.485 98.7386C522.384 101.962 535.305 103.459 555.484 103.459V101.459C535.307 101.459 522.741 99.9473 515.241 96.8869C511.517 95.3673 509.112 93.4931 507.627 91.2956C506.143 89.1005 505.508 86.4812 505.508 83.343H503.508ZM555.484 103.459C572.205 103.459 583.235 102.535 590.105 100.336C593.554 99.2319 596.053 97.7768 597.687 95.8657C599.341 93.9314 600.026 91.6273 600.026 89.007H598.026C598.026 91.2542 597.45 93.0654 596.167 94.5659C594.864 96.0898 592.75 97.3892 589.495 98.4312C582.957 100.524 572.216 101.459 555.484 101.459V103.459ZM600.026 89.007C600.026 86.3357 599.568 84.0379 598.078 82.1463C596.6 80.2696 594.227 78.9456 590.742 77.9354C583.811 75.9261 571.86 74.9965 551.816 74.0252L551.719 76.0228C571.853 76.9985 583.532 77.9273 590.185 79.8563C593.493 80.8152 595.401 81.9804 596.507 83.3837C597.6 84.7721 598.026 86.5453 598.026 89.007H600.026ZM551.813 74.025C524.814 72.7858 506.156 70.042 494.26 64.2355C488.342 61.3468 484.143 57.7203 481.412 53.1775C478.679 48.6304 477.365 43.0804 477.365 36.261H475.365C475.365 43.3361 476.729 49.269 479.698 54.208C482.67 59.1513 487.199 63.0141 493.383 66.0328C505.692 72.041 524.735 74.7842 551.721 76.0229L551.813 74.025ZM477.365 36.261C477.365 29.6258 479.053 24.1836 482.245 19.7298C485.443 15.2671 490.202 11.7265 496.457 8.9899C509.001 3.50195 527.366 1.32999 550.528 1.32999V-0.670006C527.317 -0.670006 508.6 1.49454 495.656 7.15759C489.167 9.99654 484.08 13.735 480.619 18.5648C477.151 23.4035 475.365 29.2672 475.365 36.261H477.365ZM550.528 1.32999C573.844 1.32999 592.409 4.2504 605.112 10.885C611.448 14.1938 616.301 18.4134 619.574 23.636C622.845 28.8558 624.576 35.1375 624.576 42.633H626.576C626.576 34.818 624.767 28.1566 621.268 22.5739C617.771 16.9939 612.624 12.5516 606.038 9.11222C592.9 2.25059 573.941 -0.670006 550.528 -0.670006V1.32999ZM625.576 41.633H593.716V43.633H625.576V41.633ZM594.716 42.633C594.716 39.0499 593.816 36.0478 591.849 33.6016C589.894 31.1708 586.964 29.3871 583.084 28.0786C575.363 25.4748 563.524 24.641 546.988 24.641V26.641C563.551 26.641 575.076 27.4887 582.445 29.9737C586.109 31.2095 588.655 32.822 590.29 34.855C591.913 36.8724 592.716 39.4016 592.716 42.633H594.716ZM546.988 24.641C531.344 24.641 521.495 25.3857 515.545 27.3462C512.546 28.3345 510.43 29.6646 509.077 31.4614C507.718 33.2675 507.225 35.4191 507.225 37.854H509.225C509.225 35.6869 509.662 34.0109 510.675 32.6641C511.696 31.3082 513.396 30.1603 516.171 29.2458C521.771 27.4007 531.304 26.641 546.988 26.641V24.641ZM507.225 37.854C507.225 40.3709 507.715 42.5342 509.177 44.3223C510.62 46.0885 512.899 47.3492 516.17 48.3259C522.678 50.2693 533.696 51.2447 551.709 52.3043L551.826 50.3077C533.73 49.2433 522.978 48.2717 516.742 46.4096C513.641 45.4836 511.804 44.3769 510.725 43.0567C509.664 41.7583 509.225 40.1161 509.225 37.854H507.225ZM551.713 52.3045C576.191 53.6348 595.803 54.9625 609.308 59.8139C616.033 62.2297 621.154 65.4906 624.6 69.9851C628.038 74.4689 629.886 80.2801 629.886 87.945H631.886C631.886 79.9454 629.951 73.6764 626.187 68.7681C622.432 63.8705 616.932 60.4276 609.984 57.9316C596.143 52.9595 576.196 51.6322 551.822 50.3075L551.713 52.3045ZM629.886 87.945C629.886 96.0563 627.969 102.475 624.452 107.563C620.932 112.655 615.753 116.495 609.097 119.351C595.74 125.081 576.632 126.77 553.714 126.77V128.77C576.64 128.77 596.117 127.096 609.886 121.189C616.792 118.225 622.311 114.177 626.097 108.7C629.887 103.218 631.886 96.3832 631.886 87.945H629.886ZM553.714 126.77C528.324 126.77 508.258 124.594 494.562 118.062C487.74 114.808 482.531 110.488 479.02 104.84C475.509 99.1914 473.648 92.1387 473.648 83.343H471.648C471.648 92.4243 473.571 99.8634 477.322 105.896C481.074 111.931 486.607 116.483 493.701 119.867C507.838 126.609 528.305 128.77 553.714 128.77V126.77Z"
        fill="white" mask="url(#path-1-outside-1_41_2860)" />
    </g>
  </svg>
</div>
<!-- <div class="style"> -->
<div class="centralization">
  <div class="title-button light">Centralization Privilege</div>
  <h4 class="textFont" style="font-size: 16px">
    Centralization can arise when one or more parties have privileged access or
    control over the contract's functionality, data, or decision-making. This
    can occur, for example, if the contract is controlled by a single entity or
    if certain participants have special permissions or abilities that others do
    not. In the project, there are authorities that have access to the following
    functions:
  </h4>
</div>

<div>
  <!-- <div class="central-head">
    <div class="left-head">Contract</div>
    <div class="right-head">Priveleges</div>
  </div> -->

  <table class="functions-table">
    <tr>
      <th>Contract</th>
      <th>Privileges</th>
    </tr>
    <% functions.tableRows.forEach(function(item, index) { if (item.type==='contract' ) { %>
      <tr>
        <td>
          <%= item.name %>
        </td>
        <td>
          <% funcsList=[]; functions.tableRows.slice(index + 1).some(function(func) { if(func.type==='func' && func.spec
            !='Internal 🔒' && func.mutating=='🛑' ) { if (func.name.length> 0 && func.name.indexOf('Constructor') ===
            -1) {
            funcsList.push(func.name);
            }
            } else if (func.type === 'contract') {
            return true;
            }
            });
            if (funcsList.length > 0) {
            %> <%- funcsList.join(', ') %> <%
        }
        else { %> N/A <% } %>
      </td>
    </tr>
    <% } %> <% }) %>
  </table>
</div>