<style>
  .about {
    text-align: left;
    margin-top: 100px;
    align-items: left;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
  }

  .about p {
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 52.22px;
    word-wrap: break-word;
  }

  ul li {
    list-style-type: disc;
  }
</style>
<div class="about">
  <ptitle>
    <h1>About <strong>Aegis AI</strong></h1>
  </ptitle>
  <p>
    Aegis AI is a revolutionary tool designed to bring accessibility,
    transparency, and trust to the world of blockchain technology. With the
    increasing use of smart contracts in various industries, the need for
    efficient and user-friendly auditing tools has never been more critical.
    Aegis AI is the solution that bridges the gap between complex smart contract
    code and non-technical users, making it easy for anyone to ensure the
    security and reliability of their digital assets and transactions.
  </p>
  <ul>
    <li style="line-height: 50px; font-size: 15px">
      Run quick audits from dApp using AI
    </li>
    <li style="line-height: 50px; font-size: 15px">
      Generate detailed audit reports
    </li>
    <li style="line-height: 50px; font-size: 15px">
      Monitor of smart contracts and protocols in real time.
    </li>
    <li style="line-height: 50px; font-size: 15px">
      Automated Penetration Testing.
    </li>
  </ul>
</div>