<style>
    .stypeP{
        font-size: 12px;
        font-style: normal;
        line-height:3;
        font-weight: 600;
    }
</style>

<div>
    <ptitle>
  
    <h2>Conclusion</h2>
    </ptitle>
    <p class="stypeP textFont">
        <%= audit_summery.audit_summery %>
    </p>
  </div>