<style>
  .conclusion-table-head {
    background-color: #303030;
    padding: 0 20px;
  }

  .conclusion-table-head h1 {
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
  }

  .conclusion-table-body {
    padding: 0 17px;
    background-color: #ffffff;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
  }

  .conclusion-table-body h1 {
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
  }

  .conclusion-table-body:nth-child(1) h1 {
    font-size: 15px;
    font-weight: 700;
  }

  .conclusion-table-body:nth-child(2) h1 {
    font-size: 15px;
    font-weight: 300;
  }

  .conclusion-table-body:nth-child(3) h1 {
    font-size: 15px;
    font-weight: 400;
  }
</style>

<div>
  <ptitle>
    <h1><strong>Conclusion</strong></h1>
  </ptitle>
  <p>
    <%=summary.text%>
  </p>
</div>
