<style>
    .stypeP{
        font-size: 12px;
        font-style: normal;
        line-height:3;
        font-weight: 600;
    }
    .head{
        border-radius: 6px 6px 0px 0px;
background: #303030;
width: 492px;
height: 47px;
flex-shrink: 0;
    }
</style>

<div>
    <ptitle>
  
    <h2>Conclusion</h2>
    </ptitle>
    <p class="stypeP textFont">
        <%= audit_summery.audit_summery %>
    </p>
    <div class="head">
        
    </div>
  </div>
  