<style>
  .glossary-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .glossary-subject {
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 251.724%;
  }

  .glossary-value {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 251.724%;
  }
</style>

<div>
  <ptitle>

    <h1 class="glossary-title">
      Glossary
    </h1>
  </ptitle>

  <div>
    <h3 class="glossary-subject">
      1. Honey pot:
    </h3>
    <div class="glossary-value">
      A cybersecurity strategy involving the deployment of decoy systems or resources that appear vulnerable to
      attackers.
      The goal is to attract and monitor malicious activity, gaining insights into hacker tactics and motives for
      enhanced
      security.
    </div>
  </div>
  <div>
    <h3 class="glossary-subject">
      2. Blacklist:
    </h3>
    <div class="glossary-value">
      Catalog of known malicious entities, such as IP addresses, domain names, or applications, used to deny access or
      privileges. Blacklists safeguard systems and networks by blocking or restricting interaction with these entities,
      preventing potential threats or unauthorized access.
    </div>
  </div>
  <div>
    <h3 class="glossary-subject">
      3. Ownership privileges:
    </h3>
    <div class="glossary-value">
      Ownership is the legal right to possess, use, and dispose of property or assets, typically accompanied by control,
      responsibility, and the ability to transfer or sell.
    </div>
  </div>
  <div>
    <h3 class="glossary-subject">
      4. Automated Penetration Testing:
    </h3>
    <div class="glossary-value">
      Automated Penetration Testing is a cybersecurity practice that employs automated tools and technologies to
      identify and exploit vulnerabilities in computer systems, networks, or applications. It aims to simulate potential
      cyberattacks to assess the security posture and discover weaknesses in order to enhance overall defense against
      malicious activities.
    </div>
  </div>
  <div>
    <h3 class="glossary-subject">
      5. LLM:
    </h3>
    <div class="glossary-value">
      What is LLM in simple words?
      A large language model (LLM) is a type of artificial intelligence (AI) algorithm that uses deep learning
      techniques and massively large data sets to understand, summarize, generate and predict new content.

    </div>
  </div>
  <div>
    <h3 class="glossary-subject">
      6. CVSS:
    </h3>
    <div class="glossary-value">
      CVSS stands for the Common Vulnerability Scoring System. It's a way to evaluate and rank reported vulnerabilities
      in a standardized and repeatable way.

    </div>
  </div>
</div>