<div>
    <ptitle>
        <h1>
            Glossary
        </h1>
    </ptitle>

    <div>
        <h3>1. Honeypot:</h3>
        <p>
            A honeypot refers to a deceptive contract that lures investors by appearing lucrative or profitable. These
            contracts typically allow users to easily purchase tokens, but selling them is restricted or impossible.
            This tactic is used to trap funds, misleading investors who are unable to withdraw their investments.
        </p>
    </div>
    <div>
        <h3>2. Blacklist:</h3>
        <p>
            A blacklist refers to a mechanism that enables the contract owner to restrict certain addresses from buying
            or selling the token. This feature is often implemented to block suspected bots or malicious actors from
            manipulating the token's market. However, it can also be used to unfairly prevent legitimate users from
            selling their tokens, posing a risk to token holder rights.
        </p>
    </div>
    <div>
        <h3>3. Ownership Privileges:</h3>
        <p>
            Ownership privileges refer to the exclusive rights and controls a contract owner possesses. These can
            include altering critical contract parameters, managing listings on decentralized exchanges, and updating
            contract logic. While revoking ownership can enhance trust among users by making the contract immutable,
            maintaining ownership is crucial for larger projects that require ongoing management and adaptability to
            evolving blockchain ecosystems.
        </p>
    </div>

</div>
</div>