<div>
    <div>
        <h3>
            4. Automated Penetration Testing:
        </h3>
        <p>
            Automated Penetration Testing is a cybersecurity practice that employs automated tools and technologies to
            identify and exploit vulnerabilities in computer systems, networks, or applications. It aims to simulate
            potential cyberattacks to assess the security posture and discover weaknesses in order to enhance overall
            defense against malicious activities.
        </p>
    </div>
    <div>
        <h3>
            5. LLM:
        </h3>
        <p>
            A large language model (LLM) is a type of artificial intelligence (AI) algorithm that uses deep learning
            techniques and massively large data sets to understand, summarize, generate and predict new content.
        </p>

    </div>
    <div>
        <h3>
            6. CVSS:
        </h3>
        <p>
            CVSS stands for the Common Vulnerability Scoring System. It's a way to evaluate and rank reported
            vulnerabilities in a standardized and repeatable way.

    </div>
    <div>
        <h3>
            7. EOA:
        </h3>
        <p>
            Externally Owned Accounts (EOAs) are the most common type of blockchain account that gives us direct
            control.
            These accounts are created using private keys. The associated key gives you a unique signature and access to
            the blockchain. You can use it to send and receive transactions and interact with applications.
        </p>
    </div>
</div>