<style>
  .glossary-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .glossary-subject {
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 251.724%;
  }

  .glossary-value {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 251.724%;
  }
</style>

<div>
  <div>
    <h3 class="glossary-subject">
      7. EOA:
    </h3>
    <div class="glossary-value">
      Externally Owned Accounts (EOAs) are the most common type of blockchain account that gives us direct control.
      These accounts are created using private keys. The associated key gives you a unique signature and access to the
      blockchain. You can use it to send and receive transactions and interact with applications.
    </div>
  </div>
</div>