<h1>Disclaimer</h1>
<p>
  Reports from Aegis.ai should not be viewed as an endorsement or disapproval of
  any specific project or team. They are not an indication of the economic value
  or worth of any product or asset created by any team. Aegis.ai does not
  conduct testing or auditing of integrations with external contracts or
  services (such as Unicrypt, Uniswap, PancakeSwap, etc.). Aegis.ai audits do
  not offer any warranty or guarantee about the absolute bug-free nature of the
  technology analyzed, nor do they provide any indication of the ownership of
  the technology. Aegis.ai audits should not be used to make decisions about
  investment or involvement in any specific project. These reports do not
  provide investment advice and should not be used as such. Aegis.ai reports
  represent a thorough auditing process aimed at helping our customers improve
  the quality of their code and reduce the high level of risk associated with
  cryptographic tokens and blockchain technology. Blockchain technology and
  cryptographic assets carry a high level of ongoing risk. Aegis.ai’s stance is
  that each company and individual is responsible for their own due diligence
  and continuous security. Aegis.ai does not claim any guarantee of security or
  functionality of the technology it agrees to analyze.
</p>

<table>
  <tr>
    <th>Version</th>
    <th>Data</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>1.0</td>
    <td><%= extra.currentDate %></td>
    <td>
      <ul>
        <li>Layout project</li>
        <li>Automated- /Manual-Security Testing</li>
        <li>Summary</li>
      </ul>
    </td>
  </tr>
</table>
