<style>
  .intro {
    text-align: left;
    margin-top: 100px;
    align-items: left;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
  }
  .intro h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
  }
  .intro p {
    line-height: 40px;
    letter-spacing: 2px;
  }
  .introImage{
    width: 300px;
    height: 300px;
  }
</style>
<div class="intro">
  <ptitle>
  <h2 class="textFont">Introduction</h2>
  </ptitle>
  <p class="textFont">
    Aegis AI is an AI-powered smart contract auditing tool that empowers end
    users with the ability to assess and enhance the security of their smart
    contracts, even without any coding knowledge. Aegis AI offers a seamless and
    intuitive interface, allowing users to audit smart contracts with a few
    clicks, instantly identifying vulnerabilities and malicious elements.
    Addressing these issues is essential to realizing the full potential of
    blockchain technology and smart contracts. A solution that empowers users,
    regardless of their technical background, to easily audit and secure their
    smart contracts is not only desirable but imperative for the continued
    adoption and trust in blockchain ecosystems.
  </p>
  <center>
    <img class="introImage" alt="introimage" src="../assets/introimage.png" />
  </center>
</div>
