<style>
  .intro {
    text-align: left;
    margin-top: 100px;
    align-items: left;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
  }
  .intro h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
  }
</style>
<div class="intro">
  <ptitle>
    <h2>Introduction</h2>
  </ptitle>
  <p>
    Aegis AI offers an advanced AI-driven solution for smart contract auditing,
    designed to enhance the security of blockchain contracts with ease. Our
    platform caters to users of all skill levels, enabling thorough
    vulnerability assessments without requiring extensive coding knowledge. This
    user-friendly tool simplifies the auditing process, efficiently detecting
    potential security risks and malicious code within smart contracts.
  </p>
  <p>
    By addressing critical security concerns, Aegis AI plays a vital role in
    fostering trust and growth in blockchain technology. Our solution is
    integral to promoting wider adoption of smart contracts, ensuring their
    reliability and integrity across various blockchain applications.
  </p>
  <div class="image" style="width: 300px;">
    <img src="../assets/introimage.png" />
  </div>
</div>
