<div>
    
    <h2>Inheritance Graph</h2>
    <div id="inheritance-graph"></div>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const container = document.getElementById('inheritance-graph');
            const nodes = new vis.DataSet(<%- JSON.stringify(dependencies.nodes.map((a,i)=>{return {"id":a.id,"label":a.id}})) %>);
            const edges = new vis.DataSet(<%- JSON.stringify(dependencies.links.map((a,i)=>{return {"from":a.source,"to":a.target}})) %>);
            const data = {
                nodes: nodes,
                edges: edges
            };
            const options = {};
            const network = new vis.Network(container, data, options);
        });
    </script>
        </div>
