<style>
  .headFont h1 {
    font-size: 32px;
    font-weight: 700;
  }

  .page-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    color: #fff;
    line-height: 251.724%;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
  }

  .disclaimer-desc {
    color: #fff;
    line-height: 251.724%;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
  }

  .disclaimer {
    line-height: 30px;
    letter-spacing: 2px;
  }

  .disclaimer-table {
    margin-top: 15px;
    border-radius: 15px;
    overflow: hidden;
  }

  .disclaimer-table-head-con {
    background: #303030;
    display: flex;
    padding: 10px 20px;
  }

  .disclaimer-table-body-con {
    display: flex;
    background-color: black;
    align-items: center;
    border-radius: 6px;
    background: #303030;
  }

  .disclaimer-table-head-row,
  .disclaimer-table-body-row:first-child,
  .disclaimer-table-body-row:nth-child(1) h3 {
    width: 140px;
    margin: 0;
  }

  .disclaimer-table-head-row,
  .disclaimer-table-body-row:nth-child(2),
  .disclaimer-table-body-row:nth-child(2) h3 {
    margin: 0;
    width: 200px;
  }

  .disclaimer-table-head-row,
  .disclaimer-table-body-row:last-child,
  .disclaimer-table-body-row:nth-child(3) h3 {
    margin: 0;
    width: 300px;
  }

  .disclaimer-table-body-row {
    height: 120px;
  }
  .DiscFont {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  .disclaimer-table-body-row:nth-child(1),
  .disclaimer-table-body-row:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .disclaimer-table-body-row h3:nth-child(3) {
    text-align: left;
  }

  .disclaimer-table-body-row h3 {
    font-weight: 500;
    font-size: 16px;
  }
</style>
<div class="DiscFont">
  <ptitle>
    <h1>Disclaimer</h1>
  </ptitle>
</div>
<div class="page-body">
  <p class="disclaimer-desc">
    Aegis AI, hereafter referred to as "the Company," provides audit services
    with the highest level of professionalism and diligence. It is important to
    note that the information contained in our audit reports is based on the
    data available at the time of the audit and the assessments made by our
    expert auditors.
  </p>
  <div>
    <h3>1. Limited Assurance:</h3>
    <p class="disclaimer-desc">
      The audit conducted by the Company provides reasonable assurance about the
      accuracy of the information examined. However, it is important to
      understand that an audit, by its nature, involves inherent limitations,
      and complete certainty cannot be guaranteed.
    </p>
  </div>

  <div>
    <h3>2. Subject to Change:</h3>
    <p class="disclaimer-desc">
      The findings, conclusions, and recommendations presented in our audit
      reports are based on the conditions and circumstances prevailing at the
      time of the audit. Changes in the business environment, regulations, or
      other factors may impact the relevance of our observations over time.
    </p>
  </div>
  <div>
    <h3>3. External Factors:</h3>
    <p class="disclaimer-desc">
      The Company is not responsible for external factors that may affect the
      accuracy or reliability of the audited information. This includes but is
      not limited to changes in market conditions, legal and regulatory
      developments, or unforeseen events.
    </p>
  </div>
</div>
