<div>
  <h2>Source</h2>
  <p>language: <% source.language %></p>
  <p>version: <% source.compiler_version %></p>
  <br/>
  <h2>Files Present:</h2>
<% if (source.file_path) { %>
  <ul>
    <% source.file_path.forEach(function(file) { %>
      <li><%= file %></li>
    <% });} %>
  </ul>
</div>
