<div id="project-summary">
  <h2>Project Summary</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus eveniet ex dolor laborum, molestiae similique! Minus, recusandae. Architecto facilis magni beatae optio asperiores nostrum voluptate praesentium vitae porro consequatur?</p>
</div>
