<style>
  .headFont h1 {
    font-size: 32px;
    font-weight: 700;
  }

  .page-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    color: #FFF;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 251.724%;
  }

  .disclaimer-desc {
    color: #FFF;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 251.724%;
    width: 100%;
  }

  .disclaimer {
    line-height: 30px;
    letter-spacing: 2px;
  }

  .disclaimer-table {
    margin-top: 15px;
    border-radius: 15px;
    overflow: hidden;
  }

  .disclaimer-table-head-con {
    background: #303030;
    display: flex;
    padding: 10px 20px;
  }

  .disclaimer-table-body-con {
    display: flex;
    background-color: black;
    align-items: center;
    border-radius: 6px;
    background: #303030;
  }

  .disclaimer-table-head-row,
  .disclaimer-table-body-row:first-child,
  .disclaimer-table-body-row:nth-child(1) h3 {
    width: 140px;
    margin: 0;
  }

  .disclaimer-table-head-row,
  .disclaimer-table-body-row:nth-child(2),
  .disclaimer-table-body-row:nth-child(2) h3 {
    margin: 0;
    width: 200px;
  }

  .disclaimer-table-head-row,
  .disclaimer-table-body-row:last-child,
  .disclaimer-table-body-row:nth-child(3) h3 {
    margin: 0;
    width: 300px;
  }

  .disclaimer-table-body-row {
    height: 120px;
  }

  .disclaimer-table-body-row:nth-child(1),
  .disclaimer-table-body-row:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .disclaimer-table-body-row h3:nth-child(3) {
    text-align: left;
  }

  .disclaimer-table-body-row h3 {
    font-weight: 500;
    font-size: 16px;
  }
</style>

<div class="page-body">

  <div>
    <h3>4. Client Cooperation:</h3>
    <p class="disclaimer-desc">
      The accuracy and thoroughness of our audit depend on the cooperation and disclosure of information by the client.
      Any limitations on access to records, data, or relevant information may affect the scope and depth of our audit
      procedures.
    </p>
  </div>

  <div>
    <h3>5. No Legal Advice:</h3>
    <p class="disclaimer-desc">
      Our audit reports are not intended to provide legal advice. Clients are encouraged to seek legal counsel for
      matters related to compliance with applicable laws and regulations.
    </p>
  </div>
  <div>
    <h3>6. Confidentiality:</h3>
    <p class="disclaimer-desc">
      The Company maintains strict confidentiality regarding all information obtained during the audit process. Any
      disclosure of audit results will be done in accordance with mutually agreed-upon terms and applicable legal
      requirements.
    </p>
  </div>
  <div>
    <h3>7. Professional Independence:</h3>
    <p class="disclaimer-desc">
      The Company adheres to professional independence standards and conducts audits with impartiality and objectivity.
      Our recommendations are based solely on our assessment of the facts and circumstances.
    </p>
  </div>
  <div>
    <h3>8. Governing Law:</h3>
    <p class="disclaimer-desc">
      Any disputes arising from or related to our audit services shall be governed by the laws of [Jurisdiction], and
      parties agree to submit to the exclusive jurisdiction of the courts therein.
      By engaging our services, clients acknowledge and accept the terms outlined in this disclaimer
    </p>
  </div>

</div>