<style>
  .files-table-head {
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: black;
    border-radius: 6px;
    background: #303030;
  }

  .files-table-head h3 {
    font-size: 16px;
  }

  .files-table-head h3:last-child {
    font-weight: 300;
    color: #58ff5e;
  }

  .files-table-value {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    background: #fff;
  }

  .files-table-value h3 {
    color: black;
    padding: 10px 30px;
    min-height: 100px;
    height: 100%;
    margin: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .files-table-value h3:last-child {
    border-left: 1px solid black;
    font-weight: 400;
    width: 100%;
    min-width: 500px;
  }
  .imported-package {
    display: flex;
  }
  .imported-package-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 0px;
  }
  .imported-package-subdiv {
    border-radius: 20px;
    padding: auto 20px;
    background: #2c2c2c;
    display: flex;
    margin-top: 20px;
    gap: 10px;
    flex-direction: column;
    width: 50%;
    margin: 30px 0 0 20px;
    justify-content: center;
    font-weight: 800;
  }
  .imported-package-subdiv ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .imported-package-subdiv li {
    margin-bottom: 5px;
  }
  .imported-package-subdiv p {
    align-self: center;
  }
</style>
<div>
  <ptitle>

  <h2>Files Overview</h2>
  </ptitle>
  <p class="textFont">
    The Team provided us with the files that should be tested in the security
    assessment. This audit covered the following files listed below with an
    SHA-1 Hash.
  </p>
</div>
<% if (source.file_path && Array.isArray(source.file_path)) { %>
<div class="files-table-con">
  <div class="files-table-head">
    <h3 class="textFont">File Name</h3>
    <h3 class="textFont">SHA hash</h3>
  </div>
  <% source.file_path.forEach(function(file) { %>

  <div class="files-table-value">
    <h3 class="textFont"><%= file %></h3>
    <h3 class="textFont"></h3>
  </div>
</div>
<% });}else { %>
<p>No files provided.</p>
<% } %>
<div>
  <div>
    <h3 class="textFont">Note</h3>
    <p class="textFont">
      Files with a different hash value than in this table have been modified
      after the security check, either intentionally or unintentionally. A
      different hash value may (but need not) be an indication of a changed
      state or potential vulnerability that was not the subject of this scan.
    </p>
  </div>
  <div>
    <h3 class="textFont">Imported Packages</h3>
    <p class="textFont">
      Used code from other Frameworks/Smart Contracts (direct imports).
    </p>
  </div>
  <div class="imported-package">
    <div class="imported-package-text">
      <div>
        <h3 class="textFont">Note for Investors:</h3>
        <p class="textFont">
          We only Audited a token contract and a Vault contract for Arbalest.
          However, If the project has other contracts (for example, a Presale,
          staking contract etc), and they were not provided to us in the audit
          scope, then we cannot comment on its security and are not responsible
          for it in any way. Moreover, the actual code of the interfaces used in
          the vault contract was not provided to us so we cannot comment on
          their security
        </p>
      </div>
    </div>
    <div class="imported-package-subdiv">
      <% if (source.external_libraries?.length > 0) { %>
      <ul class="textFont">
        <% source.external_libraries.forEach(function(library) { %>
        <li><%= library %></li>
        <% }); %>
      </ul>
      <% } else { %>
      <p class="textFont">No external libraries used.</p>
      <% } %>
    </div>
  </div>
  <h3>Source</h3>
  <p>language: <% source.language %></p>
  <p>version: <% source.compiler_version %></p>
  <br />
</div>
