/* @import url('https://fonts.cdnfonts.com/css/satoshi'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: url(/lime.png); */
  background-color: black;
  background-size: cover;
  /* font-family: 'Satoshi', sans-serif; */
}

.glassCard {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.141);
}
.apexcharts-toolbar {
  display: none !important;
}
/* .apexcharts-legend-marker{
  display: none !important;
} */
.apexcharts-legend{
  display: flex;
  gap: 20px;
}
.apexcharts-legend-text {
  color: white !important;
  margin: 20px 0 !important;
}

.text-success {
  color: #eeededd2;
}

.text-success-foreground {
  background-color: #000000;
  background-image: linear-gradient(315deg, #676767 0%, #dad9d9 74%);
}

.loading-screen {
  position: absolute !important;
  z-index: 9999 !important;
}

.liveOverLay {
  display: none;
}

.liveDash:hover .liveOverLay {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.141);
}

.tokenBg{
  background-image: url('tokenauditbg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 70px);
}
.tokenAuditoptionBg{
  background-image: url('tokenoptionBg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-cols-16 {
  grid-template-columns: repeat(16, minmax(0, 1fr));
}

.margin-view-overlays {
  background-color: #1D2939 !important;
  font-size: 16px;
  font-weight: 500;
  padding: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the desired level of transparency */
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
/* HTML: <div class="loader"></div> */
.loader {
  display: flex;
  justify-self: end;
  width: 22px;
  
  padding: 8px;
  margin-left: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.auditReportDetailedBg {
  background-image: url('auditreportBg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
