@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(/lime.png);
  background-size: cover;
}

.glassCard {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.141);
}
.apexcharts-toolbar {
  display: none !important;
}
/* .apexcharts-legend-marker{
  display: none !important;
} */

.apexcharts-legend-text {
  color: white !important;
}

.text-success {
  color: #eeededd2;
}

.text-success-foreground {
  background-color: #000000;
  background-image: linear-gradient(315deg, #676767 0%, #dad9d9 74%);
}

.liveOverLay{
  display: none;
}

.liveDash:hover .liveOverLay{
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.141);
}